<html ng-app="mod_app">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <style>
      body{
      background-color: #f9f9f9;
      }
      .side_menu{
      height: 50px;
      font-size: 23px;
      }
      a{
      color: black;
      }
      .nav-wrapper{
      background-color: #9e9e9e;
      }
    </style>
      <script src="vendor/jquery/jquery.min.js"></script>

  </head>
  <body>
    <body ng-controller="load_data">
      <div id="wrapper">
        <nav>
          <div class="nav-wrapper" >
            <a href="#!" class="brand-logo center">HR Portal</a>
            <ul class="left hide-on-med-and-down">
              <li><a href="#!">Home</a></li>
              <li><a href="#!">Schedules Appointments</a></li>
              <li><a href="ShowCalendar.html">View Appointments</a></li>
                
              <li class="active"><a href="collapsible.html">Referrals List</a></li>
            </ul>
          </div>
        </nav>
        <!-- Navigation -->
        <!--
          <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
               /.navbar-header

          </nav>
          -->
        <div class="row">
          <div class="col s2">
            <br />
            <br />
            <div style="background-color:#eee;" class="" id="">
              <div id="c1" class="side_menu" >
                <a id="c1" class="side_menu" href="#"> Niranjan</a>
              </div>
              <div id="c2" class="side_menu">
                <a id="c2" class="side_menu"  href="#"> Pentyala</a>
              </div>
              <div id="c3" class="side_menu">
                <a id="c3" class="side_menu" href="#"> Nero Goku</a>
              </div>
              <div id="c4" class="side_menu">
                <a id="c4" class="side_menu" href="#"> Harshita Jain</a>
              </div>
              <div id="c5" class="side_menu">
                <a id="c5" class="side_menu" href="#"> Hemant Sharma</a>
              </div>
              <div id="c6" class="side_menu">
                <a id="c6" class="side_menu" href="#"> Aarushi Goel</a>
              </div>
              <div id="c7" class="side_menu">
                <a id="c7" class="side_menu" href="#"> Shashank Kumar</a>
              </div>
              <div id="c8" class="side_menu">
                <a id="c8" class="side_menu" href="#"> Kritika Vaid</a>
              </div>
              <div class="side_menu">
                <a id="c9" class="side_menu" href="#"> Marco Papa</a>
              </div>
              <div class="side_menu">
                <a id="c10" class="side_menu" href="#"> Shamshian Sharihar</a>
              </div>
            </div>
            <div class="navbar-default sidebar" style="margin-top:0px;" role="navigation">
              <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                </ul>
              </div>
              <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
          </div>
          <!-- <input type="date" class="datepicker">-->
          <div class="col s10">
            <div class="container-fluid">
              <div id="cand1">
                <div class="col s12">
                  <br>
                  <h5 class="page-header"><b>Natalie</b></h5>
                  <h5><b>JOB APPLIED :</b> Software developer Intern, Cisco</h5>
                  <div class = "col s12">
                    <br>
                    <nav>
                     <div style="background-color:#eee;" class="nav-wrapper">
                       <ul class="left hide-on-med-and-down">
                         <li><a class="waves-effect waves-light btn" onclick="markComplete()">Mark Complete</a></li>
                         <li><a class="waves-effect waves-light btn" onclick="markInComplete()">Mark Incomplete</a></li>
                         <li><a class="waves-effect waves-light btn" onclick="markCancelComplete()">Cancel Event</a></li>
                         <li><a class="waves-effect waves-light btn" onclick="markDelComplete()">Delete Event</a></li>
                         <li><a class="waves-effect waves-light btn" onclick="markUndoComplete()">Undo</a></li>
                         <li><a class="waves-effect waves-light btn red" onclick="alert('Warning: Sending appointment requests to all. Click OK to proceed.')">Send all</a></li>  
                       </ul>
                     </div>
                   </nav>
                    <h5>REFERENCE LIST</h5>
                    <div id="row1" style="display : block;"><br><div class="row">
                      <div class="col s2">
                        <div class="input-field inline">
                          Aditya Kiran Pentyala
                        </div>
                      </div>
                      <div class="col s2">
                        <div class="input-field inline">
                          Professor
                        </div>
                      </div>
                      <div class="col s2">
                        <div class="input-field inline">
                          +1(513)208-8768
                        </div>
                      </div>
                      <div class="col s2">
                        <div class="input_field inline">
                          <a class="modal-trigger waves-effect waves-light btn" href="#getFreeTime"><span style="font-size:12px">Get timeslots</span></a>
                          <div id="getFreeTime" class="modal modal-fixed-footer">
                            <div class="modal-content">
                              <div id="chose_time" class="row">
                                  <p id="hiddable_p2">
                              <h6>
                                <center>Choose the start and end date...</center>
                                </h6>
                                </p>
                                <br />
                              <div class="col s3 center">Start Date : </div>
                              <div class="col s3">
                                <div class="">
                                  <input type='datetime' id="sdate1" class="datepicker" />
                                </div>
                              </div>
                              <div class="col s3 center">End Date : </div>
                              <div class="col s3">
                                <input type='datetime' id="edate1" class="datepicker" />
                              </div>
                            </div>
                              <div id="loadData1">
                                Please click a date to remove them from your list of availabilities.
                                <div class="row">
                                  <div ng-repeat = "x in finaldisplay">
                                    <div class="col s6">
                                      <div><a href="#" ng-click="removeDate(x.date)">{{x.date}}</a></div>
                                    </div>
                                    <div class="col s6">
                                      <div ng-repeat = "y in x.times">
                                          <a href="#" ng-click="removeTime(x.date,y)">{{y}}</a> <br />
                                      </div>
                                    </div>
                                  </div>
                                  <hr />
                                </div>
                            </div>
                            </div>
                            <div class="modal-footer">
                              <a href="#!" id="temp_har" class="modal-action modal-close waves-effect waves-green btn-flat "  ng-click="sendDates()">Send Email</a>
                                <a href="#!" class="waves-effect waves-green btn-flat" id="temp_adi" ng-click="senddata()" >Get Time Slots</a>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col s2">
                        <div class="input_field inline">
                          <a class="modal-trigger waves-effect waves-light btn" href="#createAppointment" ng-click="confirmAppointment()"><span style="font-size:10px">Create_Appointment</span></a>
                          <div id="createAppointment" class="modal modal-fixed-footer" >
                            <div class="modal-content"></form>
                              <div class = " col s12">
                                <div class = "">
                                  <br>
                                  <div class = " col s12">
                                    <div class = "">
                                      <input type="text" placeholder="Referral's Email Address" value={{referral_email}}>
                                    </div>
                                  </div>
                                </div>
                                <br>

                                 <br>
                                  <div class = " col s12">
                                    <div class = "">
                                      <input type="text" placeholder="Email Subject" id="sub">
                                    </div>
                                  </div>
                                  <div class="row">
                                  <div class = "col s6">
                                    <div class = "">
                                      <input type="text" placeholder="Referral's Name" value = "Niranjan Bhaskar">
                                    </div>
                                  </div>
                                  <div class = "col s6">
                                    <div class = "">
                                      <input type="text" placeholder="Referral's Phone number(optional)">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class = " col s6">
                                    <div class = "">
                                      Event Start Date : {{final_event_date}}
                                    </div>
                                  </div>
                                  <div class = " col s6">
                                    <div class = "">
                                      Event End Date : {{final_evet_time}}
                                    </div>
                                  </div>
                                </div>
                              </div></form>
                            </div>
                            <div class="modal-footer">
                              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat " ng-click="sendSelectedDates()">Schedule</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col s2"  >
                        <input type="checkbox" id="myCheckbox" class="filled-in"/>
                        <label for="myCheckbox"></label>
                      </div>

                    </div><br></div>

                    <div class = "col s12">
                      <div class="row">
                        <div class="col s2">
                          <div class="input-field inline">
                            Ranjith
                          </div>
                        </div>
                        <div class="col s2">
                          <div class="input-field inline">
                            rajith@usc.edu
                          </div>
                        </div>
                        <div class="col s2">
                          <div class="input-field inline">
                            +1(513)244-8558
                          </div>
                        </div>
                        <div class="col s2">
                          <div class="">
                            <input type='datetime' class="datepicker" />
                          </div>
                        </div>
                        <div class="col s2">
                          <input type='datetime' class="datepicker" />
                        </div>
                        <div class="col s2">
                          <div class="input-field inline">
                            <!-- Modal Trigger -->
                            <a class="modal-trigger waves-effect waves-light btn" href="#modal2">Send</a>
                            <!-- Modal Structure -->
                            <div id="modal2" class="modal modal-fixed-footer">
                              <div class="modal-content">
                                <h4>Modal Header</h4>
                                <p>A bunch of text</p>
                              </div>
                              <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Send</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class = "col s12">
                      <div class="row">
                        <div class="col s2">
                          <div class="input-field inline">
                            Aditya Kiran Pentyala
                          </div>
                        </div>
                        <div class="col s2">
                          <div class="input-field inline">
                            pentyala@usc.edu
                          </div>
                        </div>
                        <div class="col s2">
                          <div class="input-field inline">
                            +1(513)208-8768
                          </div>
                        </div>
                        <div class="col s2">
                          <div class="">
                            <input type='datetime' class="datepicker" />
                          </div>
                        </div>
                        <div class="col s2">
                          <input type='datetime' class="datepicker" />
                        </div>
                        <div class="col s2">
                          <div class="input-field inline">
                            <!-- Modal Trigger -->
                            <a class="modal-trigger waves-effect waves-light btn" href="#modal3">Send</a>
                            <!-- Modal Structure -->
                            <div id="modal3" class="modal modal-fixed-footer">
                              <div class="modal-content">
                                <h4>Modal Header</h4>
                                <p>A bunch of text</p>
                              </div>
                              <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Send</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class = "col s12">
                      <div class="row">
                        <div class="col s2">
                          <div class="input-field inline">
                            Aditya Kiran Pentyala
                          </div>
                        </div>
                        <div class="col s2">
                          <div class="input-field inline">
                            pentyala@usc.edu
                          </div>
                        </div>
                        <div class="col s2">
                          <div class="input-field inline">
                            +1(513)208-8768
                          </div>
                        </div>
                        <div class="col s2">
                          <div class="">
                            <input type='datetime' class="datepicker" />
                          </div>
                        </div>
                        <div class="col s2">
                          <input type='datetime' class="datepicker" />
                        </div>
                        <div class="col s2">
                          <div class="input-field inline">
                            <!-- Modal Trigger -->
                            <a class="modal-trigger waves-effect waves-light btn" href="#modal4">Send</a>
                            <!-- Modal Structure -->
                            <div id="modal4" class="modal modal-fixed-footer">
                              <div class="modal-content">
                                <h4>Modal Header</h4>
                                <p>A bunch of text</p>
                              </div>
                              <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Send</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br/>
                </div>
                <div class = "col s12">
                  <div class="row">
                    <div class="col s2">
                      <div class="input-field inline">
                        Aditya Kiran Pentyala
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="input-field inline">
                        pentyala@usc.edu
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="input-field inline">
                        +1(513)208-8768
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="">
                        <input type='datetime' class="datepicker" />
                      </div>
                    </div>
                    <div class="col s2">
                      <input type='datetime' class="datepicker" />
                    </div>
                    <div class="col s2">
                      <div class="input-field inline">
                        <!-- Modal Trigger -->
                        <a class="modal-trigger waves-effect waves-light btn" href="#modal2">Send</a>
                        <!-- Modal Structure -->
                        <div id="modal2" class="modal modal-fixed-footer">
                          <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                          </div>
                          <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Send</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class = "col s12">
                  <div class="row">
                    <div class="col s2">
                      <div class="input-field inline">
                        Aditya Kiran Pentyala
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="input-field inline">
                        pentyala@usc.edu
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="input-field inline">
                        +1(513)208-8768
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="">
                        <input type='datetime' class="datepicker" />
                      </div>
                    </div>
                    <div class="col s2">
                      <input type='datetime' class="datepicker" />
                    </div>
                    <div class="col s2">
                      <div class="input-field inline">
                        <!-- Modal Trigger -->
                        <a class="modal-trigger waves-effect waves-light btn" href="#modal3">Send</a>
                        <!-- Modal Structure -->
                        <div id="modal3" class="modal modal-fixed-footer">
                          <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                          </div>
                          <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Send</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class = "col s12">
                  <div class="row">
                    <div class="col s2">
                      <div class="input-field inline">
                        Aditya Kiran Pentyala
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="input-field inline">
                        pentyala@usc.edu
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="input-field inline">
                        +1(513)208-8768
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="">
                        <input type='datetime' class="datepicker" />
                      </div>
                    </div>
                    <div class="col s2">
                      <input type='datetime' class="datepicker" />
                    </div>
                    <div class="col s2">
                      <div class="input-field inline">
                        <!-- Modal Trigger -->
                        <a class="modal-trigger waves-effect waves-light btn" href="#modal4">Send</a>
                        <!-- Modal Structure -->
                        <div id="modal4" class="modal modal-fixed-footer">
                          <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                          </div>
                          <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Send</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br/>
            </div>
          </div>
        </div>
        <div id="cand2">
          <div class="row">
            <div class="col s12">
              <h1 class="page-header">Candidate 2</h1>
            </div>
          </div>
        </div>
        <div id="cand3">
          <div class="row">
            <div class="col s12">
              <h1 class="page-header">Candidate 3</h1>
            </div>
          </div>
        </div>
        <div id="cand4">
          <div class="row">
            <div class="col s12">
              <h1 class="page-header">Candidate 4</h1>
            </div>
          </div>
        </div>
        <div id="cand5">
          <div class="row">
            <div class="col s12">
              <h1 class="page-header">Candidate 5</h1>
            </div>
          </div>
        </div>
        <div id="cand6">
          <div class="row">
            <div class="col s12">
              <h1 class="page-header">Candidate 6</h1>
            </div>
          </div>
        </div>
        <div id="cand7">
          <div class="row">
            <div class="col s12">
              <h1 class="page-header">Candidate 7</h1>
            </div>
          </div>
        </div>
        <div id="cand8">
          <div class="row">
            <div class="col s12">
              <h1 class="page-header">Candidate 8</h1>
            </div>
          </div>
        </div>
        <div id="cand9">
          <div class="row">
            <div class="col s12">
              <h1 class="page-header">Candidate 9</h1>
            </div>
          </div>
        </div>
        <div id="cand10">
          <div class="row">
            <div class="col s12">
              <h1 class="page-header">Candidate 10</h1>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      <!-- /#wrapper -->
      <!-- jQuery -->
      <!-- Bootstrap Core JavaScript -->
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
      <!-- Metis Menu Plugin JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
      <!-- Custom Theme JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
      <script src="dist/js/sb-admin-2.js"></script>
      <script src="dist/js/navbar.js"></script>
      <script>
        $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
        });
      </script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
        $('.modal').modal();
    });
     $('.datepicker').pickadate({

    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
    });
  </script>
  </body>
</html>
